/* Header styling */
.header {
    background-color: #E6E6FA; /* Light violet background */
    padding: 20px;
    text-align: center;
    color: #333;
  }
  
  .header h1 {
    margin: 0;
    font-size: 2em;
  }
  
  /* Footer styling */
  .footer {
    background-color: #f1f1f1; /* Light grey background */
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: #333;
  }
  